<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.vcarmen.activity01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity02"
            android:label="Segunda Actividad">

        </activity>
        <activity android:name=".Ejercicio_01A"
            android:label="EJERCICIO01">
        </activity>
        <activity android:name=".Ejercicio_01B"
            android:label="EJERCICIO01">
        </activity>
        <activity android:name=".Ejercicio_01C"
            android:label="EJERCICIO01">
        </activity>
        <activity android:name=".Ejercicio_01D"
            android:label="EJERCICIO01">
        </activity>
        <activity android:name=".Ejercicio_01E"
            android:label="EJERCICIO01">
        </activity>
        <activity android:name=".Ejercicio_01F"
            android:label="EJERCICIO01">
        </activity>
    </application>

</manifest>